.search {
  position: relative;
  display: inline-block;
  p {
    position: absolute;
    font-size: 0.857em;
    top: 2px;
    left: 10px;
    color: $shade5;
    &:last-child {
      right: 0px;
      left: inherit;
      cursor: pointer;
    }
  }
  input {
    background: $shade12;
    border: $border;
    border-radius: $radius;
    color: $shade2;
    font-size: 0.875em;
    padding: 5px 10px;
  }
}